@font-face {
    font-family: Norse Bold;
    src: url(fonts/Norse-Bold.otf);
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    height: 1000px;
    margin: 0;
    justify-content: center;
    background-color: black;
}

#main {
    display: flex;
    background-image: url(images/odin-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

/* Left side of page */

#leftSide {
    display: flex;
    width: 33%;
    height: 100%;
    flex-direction: column;
}


#logoBar {
    height: 7rem;
    background-color: rgb(0,0,0,.5);
    width: 100%;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#odinImage {
    height: 75%;
}

#logoBar p {
    color: white;
    font-size: 4rem;
    font-family: Norse Bold;
}

footer {
    margin-top: auto;
    color:rgb(245, 245, 245, .7);
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* Right side of page */

#rightSide {
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 100%;
    background-color: rgb(246, 246, 246);
}

#topContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 33%;
    background-color: rgb(246, 246, 246);
}

#bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 67%;
}

#top {
    padding-left: 4rem;
}

/* #bottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: inset 0px -1px 5px rgb(137, 136, 136);
} */

#inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: center;
    background-color: white;
    padding-left: 4rem;
    box-shadow: 0px 2px 5px -2px rgb(173, 173, 173);
}

.formSide {
    width: 30%;
}

.row {
    display: flex;
    gap: 6rem;
}

.labelAndInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
}

.bigFont {
    font-size: 2rem;
    font-weight: normal;
}

label {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(106, 103, 103);
    font-weight: bold;
}

button {
    background-color: rgb(18, 93, 18);
    color: white;
    border-radius: 5px;
    height: 3rem;
    width: 15rem;
    border: none;
    box-shadow: 1px 1px 3px black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 4rem;
}

button:active {
    transform: translate(2px, 2px);
}

#bottomBlurb {
    padding-left: 4rem;
    margin-top: 6.5rem;
}

a {
    color: rgb(18, 93, 18);
    text-decoration: none;
}

input {
    padding: 3px;
    border: solid rgb(235, 235, 235);
    border-radius: 5px;
    width: 15rem;
}

input:focus {
    box-shadow: 1px 1px 4px;
}

h1 {
    padding: none;
    margin: 0;
    color: rgb(106, 103, 103);
}

input:invalid {
    border: solid red;

}

input:focus:invalid, .error {
    border: solid red;
}